<div class="grid">
  <div class="col-6">
    <p-panel header="Settings">
      <ng-template pTemplate="icons">
        <button pButton pRipple
                label="Play"
                icon="pi pi-play"
                class="p-button-success"
                (click)="start()"
                *ngIf="!isRunning"></button>
        <button pButton pRipple
                label="Stop"
                icon="pi pi-times"
                class="p-button-danger"
                (click)="stop()"
                *ngIf="isRunning"></button>
      </ng-template>
      <h5>BPM: {{bpm}}</h5>
      <p-slider [(ngModel)]="bpm" [min]="50" [max]="120"></p-slider>

      <h5>Repeat Combo: {{repeatComboCount}}</h5>
      <p-slider [(ngModel)]="repeatComboCount" [min]="2" [max]="20"></p-slider>

      <h5>Strums per Chord: {{barsPerChord}}</h5>
      <p-slider [(ngModel)]="barsPerChord" [min]="3" [max]="20"></p-slider>
    </p-panel>
  </div>
  <div class="col-6">
    <p-panel header="Play These Chords">
      <div *ngIf="isRunning">
        <div class="card" *ngIf="isGettingReadyPhase">
          Getting Ready [{{countInWord}}]
          <div class="flex flex-row flex-wrap card-container blue-container">
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord1Class}} font-bold text-white border-round m-2">{{chordCombo.from}}</div>
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord2Class}} font-bold text-white border-round m-2">{{chordCombo.to}}</div>
          </div>
        </div>
        <div class="card" *ngIf="!isGettingReadyPhase && !isCooldownPhase">
          Strums Left: {{countdown}}
          <div class="flex flex-row flex-wrap card-container blue-container">
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord1Class}} font-bold text-white border-round m-2">{{chordCombo.from}}</div>
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord2Class}} font-bold text-white border-round m-2">{{chordCombo.to}}</div>
          </div>
        </div>
        <div class="card" *ngIf="isCooldownPhase">
          Cooldown
          <div class="flex flex-row flex-wrap card-container blue-container">
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord1Class}} font-bold text-white border-round m-2">{{chordCombo.from}}</div>
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem {{chord2Class}} font-bold text-white border-round m-2">{{chordCombo.to}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="!isRunning">
        To start, hit Play!
      </div>
    </p-panel>
  </div>
  <div class="col-12">
    <p-panel header="What You've Played">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </p-panel>
  </div>
  <div class="col-12">
    <p-panel header="Combinations played so far">
      <div class="card" *ngFor="let obj of playedSoFar">
        <div class="flex flex-row flex-wrap card-container blue-container">
          <div
            class="flex align-items-center justify-content-center w-4rem h-4rem bg-cyan-500 font-bold text-white border-round m-2">{{obj.from}}</div>
          <div
            class="flex align-items-center justify-content-center w-4rem h-4rem bg-cyan-500 font-bold text-white border-round m-2">{{obj.to}}</div>
        </div>
      </div>
    </p-panel>
  </div>
</div>





